.features{
    padding: 50px 20px;
    background-color: #81dbdb;
    text-align: center;
}

.features h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

.features-card{
    padding: 50px 20px;
    border: #302a2a;
    border-radius: 10px;
    background-color: #fff;
}