.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0.5rem;
}

.login-button{
    padding: 0.5rem;
    width: 100px;
    align-self: center;
    background-color: #007BFF;
    border: 0cap;
}