.navbar{
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}
.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
.title{
  color: #000;
  display: flex;
  text-align: center;
}
.link{
  color: #000;
  text-decoration: none;
}